body {
  margin:auto;
  background-color: gray;
  font-family: "Times New Roman", sans-serif;
}

#topp {
  text-align: center;
}

.box {
  width: 70%;
  height: 100%;
  margin: auto;
  background-color: #F5F5F5;
  border-style: solid;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.5em;
  padding-left: 1%;
  padding-right: 1%;
  text-align: justify;
}

#navstruktur2 {
  max-width: 70%;
  border-style: solid;
  border-width: 2px;
  margin-left: 15%;
  margin-bottom: 2%;
}

.mockup {
    max-width: 70%;
    border-style: solid;
    border-width: 2px;
    margin-left: 15%;
    margin-bottom: 2%;
}

#html_fil {
  width: 60%;
}

#js_fil {
  width: 60%;
  margin-bottom:50px;
}
